.navbar-brand {
    font-size: 30px;
    font-weight: 700;
}

.navbar-nav li.nav-item a {
    font-weight: 500;
}

.form-check-input:checked {
    border-color: #17cc60;
    background-color: #17cc60;
}

.choose-theme-styles{
    margin-right: 1rem;
}

.choose-theme-styles span {
    vertical-align: text-bottom;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    display: inline-block;
    background: red;
    border-radius: 25px;
}

.choose-theme-styles span.purple-theme{
    background: #b600ad;
}

.choose-theme-styles span.black-theme{
    background: #3d3d3d;
}

.choose-theme-styles span.blue-theme{
    background: #00a1ff;
}

.choose-theme-styles .white-theme{
    background-color: #fff;
}

.navbar-purple{
    background: purple;
}

.btn-purple-mode-color{
    background-color: rgb(92, 5, 92);
    color: white !important;
}

.navbar-purple a, .navbar-orange a, .navbar-blue a{
    color: white !important;
}

.navbar-orange{
    background: #c35c04;
    color: white !important;
}

.navbar-blue{
    background: #0070b1;
}

.btn-orange-mode-color{
    background: #c35c04 !important;
    color: white !important;
}

.btn-blue-mode-color{
    background: #0070b1;
color: white !important;
}


